@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  background: #fff;
}

div {
  width: 300px;
  height: 300px;
  border-radius: 35px;
  z-index: 120;
}

h1 {
  font-family: "Raleway", sans-serif;
  position: fixed;
  left: 30%;
}

h2 {
  font-family: "Raleway", sans-serif;
  position: fixed;
  left: 30%;
}
.ebcloudy {
	position: absolute;
	top: 25%;
	left: 15%;
	background: linear-gradient(to top right, #4682B4 5%, #2C3E50 85%);
	box-shadow: 1px 1px 30px rgba(70, 130, 180, 0.8);
}
