@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  background: #fff;
}

div {
  width: 300px;
  height: 300px;
  border-radius: 35px;
  z-index: 120;
}

h1 {
  font-family: "Raleway", sans-serif;
  position: fixed;
  left: 30%;
}

h2 {
  font-family: "Raleway", sans-serif;
  position: fixed;
  left: 30%;
}

.msnowy {
  position: absolute;
  top: 25%;
  left: 70%;
  background: linear-gradient( to top right,rgba(33,33,33 ,0.9) 30%, rgba(117,117,117 ,1) 95%);
  box-shadow: 1px 1px 30px rgba(117,117,117 ,1);
}
