@keyframes inex {
	50% {
		opacity: 0.4;
	}
	60% {
		opacity: 1;
	}
}

@keyframes move {
	50% {
		transform: translateX(-10px);
	}
}

@keyframes fall {
	10% {
		opacity: 0.8;
	}
	50% {
		opacity: 1;
		transform: translate(-10px, 30px);
	}
	100% {
		transform: translate(-25px, 70px);
	}
}

@keyframes flash {
	48% {
		background-color: rgba(96, 125, 139, 1);
	}
	50% {
		background-color: #fff;
	}
	55% {
		background-color: rgba(96, 125, 139, 1);
	}
	57% {
		background-color: #fff;
	}
}

@keyframes meteor {
	10% {
		opacity: 1;
	}
	80% {
		left: 10%;
		top: 75%;
		opacity: 0;
	}
}