/* Mist Clouds 
mcloudtl = misty cloud top left
mcloudbl = misty cloud bot left
mcloudtr = misty cloud top right
mcloudbr = misty cloud bot right */

.mcloudtl, .mcloudbl, .mcloudtr, .mcloudbr {
  position: absolute;
  border-radius: 15px;
  background-color: rgba(204, 233, 255, 0.7);
  animation: move 3s infinite linear;
}

.mcloudtl {
  top: -2%;
  left: 55%;
  width: 90px;
  height: 25px;
  box-shadow: 
  4px 4px 60px rgba(169, 169, 169, 0.9),
  -4px -4px 80px rgba(255, 255, 255, 0.7),
  inset 0px 0px 40px rgba(200, 200, 200, 0.8);
  z-index: 1;
}

.mcloudbl {
  top: -22%;
  left: 25%;
  width: 90px;
  height: 25px;
  box-shadow: 
  4px 4px 60px rgba(169, 169, 169, 0.9),
  -4px -4px 80px rgba(255, 255, 255, 0.7),
  inset 0px 0px 40px rgba(200, 200, 200, 0.8);
  z-index: 1;
}

.mcloudtr {
  top: 5%;
  left: 85%;
  width: 130px;
  height: 25px;
  box-shadow: 
  4px 4px 60px rgba(169, 169, 169, 0.9),
  -4px -4px 80px rgba(255, 255, 255, 0.7),
  inset 0px 0px 40px rgba(200, 200, 200, 0.8);
}

.mcloudbr {
  top: 20%;
  left: 75%;
  width: 120px;
  height: 23px;
  box-shadow: 
  4px 4px 60px rgba(169, 169, 169, 0.9),
  -4px -4px 80px rgba(255, 255, 255, 0.7),
  inset 0px 0px 40px rgba(200, 200, 200, 0.8);
  z-index: 1;
}

/* Cloud Elements */

.cloud {
  position: absolute;
  top: 5%;
  left: 70%;
  width: 130px;
  height: 25px;
  border-radius: 15px;
  background-color: rgba(129, 212, 250, 1);
  box-shadow: 1px 1px 30px rgba(0, 151, 167, 1);
  animation: move 3s infinite linear;
  z-index: 1;
}

.cloudx {
  position: absolute;
  top: 20%;
  left: 55%;
  width: 120px;
  height: 23px;
  border-radius: 15px;
  background-color: rgba(129, 212, 250, 1);
  animation: move 3s infinite linear;
  z-index: 1;
}

.cloudz {
  position: absolute;
  top: 8%;
  left: 35%;
  width: 80px;
  height: 20px;
  border-radius: 15px;
  background-color: rgba(129, 212, 250, 1);
  animation: move 3s infinite linear;
  z-index: 1;
}

/* Sun with Cloud 
scloud = suncloud
scloudx = suncloud 2
*/

.scloud {
  position: absolute;
  top: 10%;
  left: 78%;
  width: 120px;
  height: 23px;
  border-radius: 15px;
  background: linear-gradient(to bottom left, rgba(255, 223, 186, 1) 0%, rgba(129, 212, 250, 1) 100%);
  box-shadow: 
      -5px -5px 20px rgba(255, 223, 186, 0.8),
      10px 10px 15px rgba(129, 212, 250, 0.5); 
  animation: move 3s infinite linear;
  z-index: 1;
}

.scloudx {
  position: absolute;
  top: 20%;
  left: 55%;
  width: 120px;
  height: 23px;
  border-radius: 15px;
  background: linear-gradient(to bottom left, rgba(255, 223, 186, 1) 0%, rgba(129, 212, 250, 1) 100%);
  box-shadow: 
      -5px -5px 20px rgba(255, 223, 186, 0.8),
      10px 10px 15px rgba(129, 212, 250, 0.5); 
  animation: move 3s infinite linear;
  z-index: 1;
}