/* ########### Evening Clear Sky ############# */

.night li {
	position: absolute;
	list-style: none;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	background-color: #fff;
	transform: rotate(45deg);
}

.night li:nth-child(1) {
	top: 30%;
	left: 65%;
}

.night li:nth-child(2) {
	top: 35%;
	left: 53%;
}

.night li:nth-child(3) {
	opacity: 0;
	top: 20%;
	left: 75%;
	width: 2px;
	height: 2px;
	animation: meteor 1.5s infinite linear;
	animation-delay: 0.6s;
}

.night li:nth-child(4) {
	top: 5%;
	left: 50%;
}

.night li:nth-child(5) {
	opacity: 0;
	top: 20%;
	left: 55%;
	width: 1px;
	height: 15px;
	animation: meteor 1.5s infinite linear;
}

/* ########### Evening Mist ############# */

.emist li {
	position: absolute;
	list-style: none;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	background-color: #fff;
	transform: rotate(45deg);
}

.emist li:nth-child(1) {
	top: 30%;
	left: 65%;
}

.emist li:nth-child(2) {
	top: 35%;
	left: 53%;
}

.emist li:nth-child(3) {
	opacity: 0;
	top: 20%;
	left: 75%;
	width: 2px;
	height: 2px;
	animation: meteor 1.5s infinite linear;
	animation-delay: 0.6s;
}

.emist li:nth-child(4) {
	top: 5%;
	left: 50%;
}

.emist li:nth-child(5) {
	opacity: 0;
	top: 20%;
	left: 55%;
	width: 1px;
	height: 15px;
	animation: meteor 1.5s infinite linear;
}